body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

button.knopka_1 {
    color: #fff;
    background: #00ff21;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #FF8247;
}

    button.knopka_1:hover {
        background: #00ff21;
    }

button.knopka_2 {
    color: #fff;
    background: #1bf2de;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #FF8247;
}

    button.knopka_2:hover {
        background: #1bf2de;
    }
